<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/stravaStyles.css">
</head>
<body>

<!-- Navigation bar -->
<div class="topnav">
  <a href="#">All runs</a>
  <a href="#">Gear stats</a>
  <a href="#">Progress charts</a>
</div>

<!-- Left content column -->
<div class="row">
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>

<!-- Main central content column -->
  <div class="column middle">
    <h2>Main Content</h2>
    <iframe src="{{ url_for('show_map') }}" width="90%" height="800"></iframe>
  </div>

<!-- Right content column -->
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
    {% for activity in activityData  %}
    <p>
      {{ activity.name }}
    </p>
    {% endfor %}
  </div>
</div>
</body>
</html>